<div class="control-section">
  <div align="center">
    <ejs-chart
      style="display: block"
      align="center"
      id="chartcontainer"
      [title]="title"
      [primaryXAxis]="primaryXAxis"
      [primaryYAxis]="primaryYAxis"
      [tooltip]="tooltip"
      (load)="load($event)"
      [chartArea]="chartArea"
      [width]="width"
    >
      <e-series-collection>
        <e-series
          [dataSource]="data"
          type="Line"
          xName="x"
          yName="y"
          [name]="name1"
          width="2"
          [marker]="marker"
        >
        </e-series>
        <e-series
          [dataSource]="data2"
          type="Line"
          xName="x"
          yName="y"
          [name]="name2"
          width="2"
          [marker]="marker"
        >
        </e-series>
      </e-series-collection>
    </ejs-chart>
  </div>
</div>
