grado-arritmias-cardiacas-front/Common/bin
grado-arritmias-cardiacas-front/Common/obj

GradoArritmiasCardiacas.Services/Common/bin
GradoArritmiasCardiacas.Services/Common/obj

grado-arritmias-cardiacas/bin
grado-arritmias-cardiacas/obj

.vs/