/GradoArritmiasCardiacas.Services/bin/Debug/netcoreapp3.1
/GradoArritmiasCardiacas.Models/obj
/GradoArritmiasCardiacas.Common/obj/Debug/netcoreapp3.1
/GradoArritmiasCardiacas.Services/obj
/GradoArritmiasCardiacas.Models/bin/Debug/netcoreapp3.1
/GradoArritmiasCardiacas.Common/obj
/grado-arritmias-cardiacas/bin/Debug/netcoreapp3.1
/grado-arritmias-cardiacas/obj
.vs