<div class="animated fadeIn fast">
  <div id="action-description">
    <p>
      En esta página podras visualizar el historico de mediciones realizadas.
    </p>
  </div>

  <p><strong>Escoger fecha que se quiere ver</strong></p>
  <p
    *ngFor="let item of historyData | keyvalue"
    (click)="getData(item.key)"
    style="cursor: pointer"
    class="fadeIn fast"
  >
    - {{ item.key }}
  </p>

  <div class="row my-4" *ngIf="showInformation">
    <div class="col-lg-6 col-sm-12 animated fadeIn fast">
      <h5 class="text-center mb-4">Informacion sobre ritmo cardíaco</h5>
      <app-information
        [information]="hrResult"
        [toolTipClass]="hrTooltipClass"
      ></app-information>
      <app-information
        [information]="hrMessage"
        [toolTipClass]="hrTooltipClass"
      ></app-information>
      <app-information
        *ngIf="showTypeHr"
        [information]="informationTypeHr"
        [toolTipClass]="hrTooltipClass"
      ></app-information>
      <app-information
        *ngIf="showTypeSPO2"
        [information]="informationTypeSPO2"
        [toolTipClass]="hrTooltipClass"
      ></app-information>
    </div>

    <div class="col-lg-6 col-sm-12 animated fadeIn fast">
      <h5 class="text-center mb-4">Informacion sobre oxígeno en sangre</h5>
      <app-information
        [information]="SPO2Result"
        [toolTipClass]="SPO2TooltipClass"
      ></app-information>
      <app-information
        [information]="SPO2Message"
        [toolTipClass]="SPO2TooltipClass"
      ></app-information>
    </div>
  </div>

  <app-still-line
    *ngIf="showStillLine"
    [title]="titleStillLine"
    [data]="dataStillLine"
    [primaryXAxis]="primaryXAxisStillLine"
    [primaryYAxis]="primaryYAxisStillLine"
    [name1]="fistNameStillLine"
    [name2]="secondNameStillLine"
    [data]="dataStillLine"
    [data2]="data2StillLine"
    class="mb-5"
  >
  </app-still-line>
</div>
