<div class="control-section">
  <ejs-chart
    #chart
    id="chart-container"
    [primaryYAxis]="primaryYAxis"
    (loaded)="loaded($event)"
  >
    <e-series-collection>
      <e-series
        [dataSource]="seriesRed"
        type="Line"
        xName="x"
        yName="y"
        width="2"
        [animation]="animation1"
      >
      </e-series>
      <e-series
        [dataSource]="seriesIr"
        type="Line"
        xName="x"
        yName="y"
        width="2"
        [animation]="animation1"
      >
      </e-series>
    </e-series-collection>
  </ejs-chart>
</div>
