<div class="fadeIn fast">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 pt-3">
      <app-line
        *ngIf="enabledGraph"
        [hr]="hr"
        [hrValid]="hrValid"
        [visibleHR]="visibleHR"
        [SPO2]="sPO2"
        [SPO2Valid]="sPO2Valid"
        [visibleSPO2]="visibleSPO2"
        class="fadeIn fast"
        (lastHRValue)="UpdateHRValue($event)"
      ></app-line>

      <div *ngIf="!enabledGraph">
        <img
          style="border: solid 1px; height: auto; width: 100%;"
          src="../assets/images/imagen-grafica-desenfoque.png"
          alt="Gráfica desenfocada"
        />
      </div>
    </div>
  </div>
  <button
    class="btn btn-primary mt-3"
    (click)="enabled()"
    [ngClass]="{ disabled: disabledMetering }"
  >
    Realizar lectura
  </button>
  <hr />
  <app-result
    [lastHRValue]="lastHRValue"
    [visibleSPO2]="visibleSPO2"
    [enableStatusBar]="enableStatusBar"
    [statusBarLevel]="statusBarLevel"
  >
  </app-result>
</div>
