<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card mt-5" style="width: 18rem;">
            <h1 class="display-1 text-center"><strong>Sing In</strong></h1>
            <div class="card-body">
                <div *ngIf="alert" class="alert mt-2" [ngClass]="alertDanger ? 'alert-danger' : 'alert-success'" role="alert">
                    {{alertMessage}}
                </div> 
                <form [formGroup]="singinForm">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">👨‍⚕️</span>
                        <input type="text" class="form-control" formControlName = "userName" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">👨‍🔬</span>
                        <input type="text" class="form-control" formControlName = "name" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">👨‍🔬</span>
                        <input type="text" class="form-control" formControlName = "lastName" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">⚖️</span>
                        <input type="number" class="form-control" formControlName = "weight" placeholder="Weight" aria-label="Weight" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">📏</span>
                        <input type="number" class="form-control" formControlName = "height" placeholder="Height" aria-label="Height" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">🔒</span>
                        <input type="password" class="form-control" formControlName = "password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                </form>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button" (click)="Singin()" [disabled]="loginLoader">Sing In</button>
                    <button class="btn btn-secondary" [routerLink]="['/login']" [disabled]="loginLoader">Back</button>
                </div> 
            </div>
          </div>
    </div>
</div>